<!DOCTYPE html>
<html ng-app="apl">
<head>
	<title>diretivas básicas</title>
	<meta charset="utf-8" />

	<script type="text/javascript" src="../lib/angularJs/angular.js"></script>
	<link rel="stylesheet" href="../lib/bootstrap.css" />

	<style type="text/css">
		.selecionado {
			background-color: gray;
		}
		.negrito {
			font-weight: bold;
		}
	</style>

	<script type="text/javascript">
		angular.module("apl", []);

		angular.module("apl").controller("ctrl", function($scope) {
			$scope.clientes = [
				{nome: 'francisco alisson', idade: '17', profissao: {nome: 'programador'}},
				{nome: 'marcos vinícius', idade: '18', profissao: {nome: 'fisiculturista'}}
			];

			$scope.profissoes = [
				{nome: 'programador'},
				{nome: 'fisiculturista'},
				{nome: 'médico'},
				{nome: 'engenheiro'}
			];

			$scope.adicionar = function(cliente) {
				$scope.clientes.push(cliente);
			};

			
		});
	</script>
</head>

<body ng-controller="ctrl" ng-init="titulo='Diretivas Básicas'">
	<div class='row'><br/>			
		<div class="col-md-6 col-md-offset-3">
		<h3>{{titulo}}</h3>

		<form method="post">
			<table class='table'>
				<tr>
					<th></th>
					<th>nome</th>
					<th>idade</th>
					<th>profissao</th>
				</tr>

				<tr ng-class="{'selecionado negrito': client.selecionado}" ng-repeat="client in clientes">
					<td><input type="checkbox" ng-model="client.selecionado"/></td>
					<td>{{client.nome}}</td>
					<td>{{client.idade}}</td>
					<td>{{client.profissao.nome}}</td>
				</tr>
			</table><br/>

			<div class='col-md-7 col-md-offset-3'>
				<label>Nome: </label>
				<input type="text" class="form-control" ng-model='cliente.nome' /><br/>

				<label>Idade: </label>
				<input type="number" class="form-control" ng-model='cliente.idade' /><br/>

				<label>Profissao: </label>
				<select ng-model='cliente.profissao' class="form-control" ng-options='job.nome for job in profissoes'>
					<option></option>
				</select>

				<button class="btn btn-info" ng-click='adicionar(cliente)' style='margin-top: 10px; float: right;'>adicionar</button>
			</div>
		</form>
	</div>
	</div>
	<script src="../lib/foundation/vendor/jquery.js"></script>
	<script src="../lib/bootstrap.js"></script>
</body>
</html>