<!DOCTYPE html>
<html ng-app="apl">
<head>
	<title>diretivas básicas</title>
	<meta charset="utf-8" />

	<script type="text/javascript" src="../lib/angularJs/angular.js"></script>
	<link rel="stylesheet" href="../lib/foundation/foundation.css" />
	<link rel="stylesheet" href="../lib/foundation/normalize.css" />

	<style type="text/css">
		.selecionado {
			background-color: gray;
		}
		.negrito {
			font-weight: bold;
		}
	</style>

	<script type="text/javascript">
		angular.module("apl", []);

		angular.module("apl").controller("ctrl", function($scope) {
			$scope.clientes = [
				{nome: 'francisco alisson', idade: '17', profissao: {nome: 'programador'}},
				{nome: 'marcos vinícius', idade: '18', profissao: {nome: 'fisiculturista'}}
			];

			$scope.profissoes = [
				{nome: 'programador'},
				{nome: 'fisiculturista'},
				{nome: 'médico'},
				{nome: 'engenheiro'}
			];

			$scope.adicionar = function(cliente) {
				$scope.clientes.push(angular.copy(cliente));
			};

			
		});
	</script>
</head>

<body ng-controller="ctrl" ng-init="titulo='diretivas básicas'">
	<div class='row' style='margin-left: 30%; margin-top: 40px;'>
		<h3>{{titulo}}</h3>

		<form method="post">
			<table class='large-8 columns'>
				<tr>
					<th></th>
					<th>nome</th>
					<th>idade</th>
					<th>profissao</th>
				</tr>

				<tr ng-class="{'selecionado negrito': client.selecionado}" ng-repeat="client in clientes">
					<td><input type="checkbox" ng-model="client.selecionado"/></td>
					<td>{{client.nome}}</td>
					<td>{{client.idade}}</td>
					<td>{{client.profissao.nome}}</td>
				</tr>
			</table><br/>

			<div class='large-6 columns' style='margin-left: 60px;'>
				<label>nome: </label>
				<input type="text" ng-model='cliente.nome' />

				<label>idade: </label>
				<input type="number" ng-model='cliente.idade' />

				<label>profissao: </label>
				<select ng-model='cliente.profissao' ng-options='job.nome for job in profissoes'>
					<option></option>
				</select>

				<button ng-click='adicionar(cliente)' style='margin-top: 10px; float: right;'>adicionar</button>
			</div>
		</form>
	</div>

	<script src="../lib/foundation/vendor/jquery.js"></script>
	<script src="../lib/foundation/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>