<!DOCTYPE html>
<html ng-app="apl">
<head>
	<title>validação</title>
	<meta charset="utf-8" />

	<script type="text/javascript" src="lib/angularJs/angular.js"></script>
	<link rel="stylesheet" href="lib/foundation/foundation.css" />
	<link rel="stylesheet" href="lib/foundation/normalize.css" />

	<script type="text/javascript">
		angular.module("apl", []);

		angular.module("apl").controller("ctrl", function($scope) {
			
		});

	</script>
</head>

<body ng-controller="ctrl">
	<div class='row' style='margin-left: 30%; margin-top: 50px;'>
		<form method="post" name='validationForm' class='large-6 columns'>

			<!-- validação do campo nome -->
			<label>nome: </label>
			<input type="text" ng-model='nome' name='nome' ng-required='true' />
			<div ng-show='validationForm.nome.$error.required && validationForm.nome.$dirty'>
				preenchimento do campo nome obrigatório
			</div><br/>

			<!-- validação do campo idade -->
			<label>idade: </label>
			<input type="number" min='0' max='100' name='idade' ng-required='true' ng-model='idade' />
			<div ng-show='validationForm.idade.$error.required && validationForm.idade.$dirty'>
				preenchimento do campo idade obrigatório
			</div>

			<div ng-show='validationForm.idade.$error.min || validationForm.idade.$error.max'>
				digite um valor entre 0 e 100
			</div><br/>

			<!-- validação do campo whatsapp -->
			<label>whatsapp: </label>
			<input type="text" name='whatsapp' ng-model='whatsapp' ng-required='true' ng-pattern='/^\d{4,5}-\d{4}$/' />
			<div ng-show='validationForm.whatsapp.$error.required && validationForm.whatsapp.$dirty'>
				preenchimento do campo whatsapp obrigatório
			</div>

			<div ng-show='validationForm.whatsapp.$error.pattern && validationForm.whatsapp.$dirty'>
				preencha o campo whatsapp no formato ddddd-dddd
			</div><br/>

			<input type='submit' class='button radius' style='float: right;' value='enviar' />
		</form>
	</div>

	<script src="lib/foundation/vendor/jquery.js"></script>
	<script src="lib/foundation/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>