<!DOCTYPE html>
<html ng-app="apl">
<head>
	<title>expressões</title>
	<meta charset="utf-8" />

	<script type="text/javascript" src="lib/angularJs/angular.js"></script>
	<link rel="stylesheet" href="lib/foundation/foundation.css" />
	<link rel="stylesheet" href="lib/foundation/normalize.css" />
	<script type="text/javascript">
		angular.module("apl", []);

		angular.module("apl").controller("ctrl", function($scope) {});
	</script>
</head>
<body ng-controller="ctrl">
	<div class='row' style='margin-left: 30%; margin-top: 50px;'>
		<form action="" method="post">
			<div class='large-6 columns' style='margin-left: 60px;'>
				<label>primeiro valor: </label>
				<input type="text" ng-model="valor1" /><br/>

				<label>segundo valor: </label>
				<input type="text" ng-model="valor2" /><br/>

				<p>Valores: {{valor1}} {{valor2 !=null ? "e" : ""}} {{valor2}}</p>
			</div>
		</form>
	</div>
</body>
</html>